@import "../../variables";
@import "../../mixins";

.navbar ul,
li {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  background: $blue;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  font-family: 'Darker Grotesque', sans-serif;

}

.navbar h1 {
  margin: 0;
}

.__navlinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 0;
  justify-content: space-around;
  height: auto;
  width: auto;
}
.__navitem {
  flex-basis: 20%;
  opacity: 0.8;
  transition: all 0.2s ease-in;
  margin: auto 15px;
  &.active,
  &:hover,
  &:focus {
    opacity: 1;
    color: #ffffff;
  }
}

@media (max-width: 900px) {
  .navbar {
    justify-content: center;
    width: 100%;
  }

  h1 {
    margin: 10px auto;
  }

  .__navlinks {
    position: fixed;
    box-shadow: 0 -1px 2px 0 rgba(255, 255, 255, 0.295);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    padding-top: 10px !important;
    background: $black;
    text-align: center;
    transform: translateZ(2px);
    z-index: 2;
  }

  .__navitem {
    margin: 0;
    display: flex;
    transform: scale(0.8);
    flex-direction: column;
    transition: all 0.3s ease;
    align-items: center;

    &.active {
      opacity: 1;
    }

    span {
      display: block;
    }
  }
}
