@import "../../variables";
@import "../../mixins";

.movie-container {
  display: flex;
  min-height: 400px;
  width: 100%;
  flex-direction: column;
  color: inherit;
}

.row-2 {
  min-height: 80px;
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  min-height: 120px;
  margin-top: -80px;
  z-index: 1;
  h2 {
    margin: 0;
  }
}

.other-details {
  font-size: 10px;
}

.transparent-pill {
  border: 1px solid $white;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.7rem;
  font-weight: 400;
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
  background: rgba(17, 17, 17, 0.1);
}

.release-date {
  align-self: center;
  display: flex;
  align-items: center;
  margin: 10px 10px 0 0;
  span {
    // vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
  }
}

.movie-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  height: 80px;
  color: $white;
}

.movie-name {
  width: 50%;
}
.movie-actions {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.user-score {
  span {
    display: block;
    font-size: 0.7rem;
    text-align: center;
    margin: auto;
  }
  font-size: 2rem;

  svg {
    color: $orangered;
  }
}

.movie-overview {
  width: 80%;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: justify;
  border-radius: 15px;
}

.movie-overview {
  h4 {
    margin: 0;
  }
}

.stacked-grid {
  display: flex;
  flex-direction: column;
}
.stacked-grid-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

@media (max-width: 900px) {
  .row-2 {
    width: 100%;
    margin-top: 0px;
  }

  .release-date,
  .transparent-pill {
    margin-right: 4px;
  }
  .movie-actions {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .user-score {
    margin: 10px auto;
  }
  .movie-details {
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 5px;
  }
  .movie-name {
    width: 100%;

    h2 {
      margin: 0;
    }
  }
  .movie-overview {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 20px;
  }
}
