@import "../../variables";
@import "../../mixins";

.movie-cover-images {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 0;
  &::after {
    content: "";
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #111 100%);
    margin-top: -80px;
    height: 80px;
    width: 100%;
  }
}

.movie-cover-images img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
.movie-cover-trailer-btn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 75px;
  height: 75px;
  z-index: 3;
  cursor: pointer;
  outline: none;
  background: transparent !important;
  border: none;
  color: $white;
  opacity: 0.6;
  z-index: 9999;
  transition: all 0.1s ease-in;

  &:hover,
  &:focus {
    transform: scale(1.1);
    opacity: 1;

    background: rgba(0, 0, 0, 0.5);
  }
}

.movie-backdrop {
  width: 100%;
}

.movie-poster {
  position: absolute;
  height: 300px;
  width: auto;
  z-index: 2;
  bottom: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .movie-poster {
    display: none;
  }
  .movie-backdrop {
      min-height: 40vh;
  }
}
