@import "../variables";

.movie-info {
  padding-bottom: 4rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .play-trailer {
    background: $blue-gradient;
    color: $white;
    outline: none;
    border: none;
    padding: 10px;
    width: 120px;
    margin: 5px auto;
    border-radius: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
