@import "../variables";

.searchpage {
  width: 80%;
  margin: 10px auto;

  .searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: inherit;
  }

  .searchbar {
    input,
    button {
      padding: 10px 20px;
      font-family: inherit;
      outline: none;
      border: none;
    }
  }
}

.searchbar input {
  flex: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: $white;
  color: $black;
  opacity: 0.9;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    border-radius: 4px solid $blue;
  }
}

.searchbar button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: $blue-gradient;
  cursor: pointer;
  color: inherit;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:hover,
  &:focus {
    background: $white;
    color: $black;
    border-left: 0.5px solid $black;
  }
}

.search__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 0.7rem;
}

@media (max-width: 900px) {
  .searchpage {
    width: 95%;
    padding-bottom: 60px;
  }
}
