@import "../variables";
@import "../mixins";

.trending {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0.5rem;

  &__heading {
    color: $pinkwhite;
    text-align: center;
    width: 100%;
  }

  .more_button {
    @include normalButton;
    width: auto;
    padding: 10px 20px;
    margin: 10px auto;
    border: 1px solid $white;
    background: transparent;
    color: $white;
    opacity: 0.8;

    &:hover,
    &:active {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.trending__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 1.5rem 0.7rem;
}

@media (max-width: 900px) {
  .trending {
    width: 100%;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0;
  }
}
