@import "../variables";

.card a {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.card {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  background: $white;
  width: auto;
  color: $black;
  border-radius: 15px;
}

.card__image {
  img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.card__stacked {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.card__content {
  font-size: 14px;
  font-family: inherit;
  border-bottom: 1px solid #111;
  padding-bottom: 10px;
}

.card__action {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  a {
    font-size: 10px;
    font-family: inherit;
  }
  button {
    border: none;
    background: transparent !important;
    color: $black;
    padding: 5px;
    outline: none;
    &:focus,
    &:hover {
      cursor: pointer;
    }
  }
}

.card__rating {
  float: right;
}

@media (max-width: 900px) {
  .card {
    min-width: 100%;
  }
}
