@import "./variables";

@mixin gradient-color($gradient: $blue-gradient) {
  text-decoration: underline;
  background: $gradient;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}
