@import "./variables";

@mixin gradient-color($gradient: $blue-gradient) {
  text-decoration: underline;
  background: $gradient;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

@mixin normalButton($margin: 5px) {
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 $margin;
  justify-content: space-around;
  transition: 0.2s all cubic-bezier(0.215, 0.61, 0.355, 1);
  background: $blue;
  color: $white;


  svg {
    fill: $white;
  }


  &:hover,
  &:focus {
    cursor: pointer;
  }
}
