@import "variables";
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

html {
  scroll-behavior: smooth;
}

::selection {
  color: #252525;
  background: #00d9f5;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 4px;
  background: rgba(48, 110, 254, 0.5);
  opacity: 0.7;
}
::-webkit-scrollbar-thumb {
  width: 2px;
  background: $blue-gradient;
  border-radius: 20px;
  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
* > {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Solway', -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  padding: 0;
  margin: 0;
  background: #7772720a;
  color: $black;
  min-height: 100%;
  line-height: 1.6;
  font-kerning: none;
  letter-spacing: 0.3px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.app-error {
  width: 80%;
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app-error-image {
    width: 200px;
    height: auto;
    display: block;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.container {
  width: 100%;
}

@media (max-width: 900px) {
  .container {
    margin-bottom: 80px;
  }
}
